myspider/data/*.txt
myspider/__init__.pyc
myspider/items.pyc
myspider/lib/db.pyc
myspider/pipelines.pyc
myspider/settings.pyc
myspider/spiders/__init__.pyc
myspider/spiders/dmoz_spider.pyc
myspider/spiders/jiandan.pyc



